@use 'Exports';

.game{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

    .game-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        row-gap: 50px;

        .target-board3x3{
            @include Exports.styleboard(true, 3);
        }
        .target-board4x4{
            @include Exports.styleboard(true, 4);
        }
        .target-board5x5{
            @include Exports.styleboard(true, 5);
        }

        h2{
            font-size: clamp(.7rem, 2vw + .7rem, 2.5rem);
            color: white;
        }
    }

    .board3x3{
        @include Exports.styleboard(false, 3);
    }
    .board4x4{
        @include Exports.styleboard(false, 4)
    }
    .board5x5{
        @include Exports.styleboard(false, 5)
    }

}
@media (max-width: 800px) {
    .game{
        flex-direction: column;

        .game-details{
            width: 70%;
            margin-bottom: 20%;
        }
    }
}