@use 'Exports';

.levels{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    column-gap: 5%;

    .level{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            color: white;
            font-size: 2rem;
            margin-bottom: 46%;
        }
        .board3x3{
            @include Exports.styleboard(true, 3);
            cursor: pointer;
            &:hover{
                transform: scale(1.2)
            }
        }
        .board4x4{
            @include Exports.styleboard(true, 4);
            cursor: pointer;
            &:hover{
                transform: scale(1.2)
            }
        }
        .board4x4-locked{
            filter: blur(10px);
            @include Exports.styleboard(true, 4);
        }
        .board5x5{
            @include Exports.styleboard(true, 5);
            cursor: pointer;
            &:hover{
                transform: scale(1.2)
            }
        }
        .board5x5-locked{
            filter: blur(10px);
            @include Exports.styleboard(true, 5);
        }

    }
}